:root {
  /* Colors  */
  --colorBlue: #201f87;
  --colorOrange: #fc5741;

  /* Color text*/
  --colorDark: #222222;
  --colorLight: #ffffff;

  /* Animation */
  --durationAnimation: 0.4s;

  /* Border */
  --borderRadius: 20px;
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Cuprum-Regular.ttf);
  /* Download font */
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/Cuprum-Bold.ttf);
  /* Download font */
  font-display: swap;
}

/* Scrollbar */

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 14px var(--colorBlue, #201f87);
  box-shadow: inset 0 0 14px var(--colorBlue, #201f87);
}

body {
  margin: 0;
  background-color: hsl(0, 0%, 95%);
  font-family: "Cuprum", sans-serif;
  font-size: 16px;
  color: var(--colorDark, #222222);
  line-height: 1;
  letter-spacing: 0.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Selection */

*::-moz-selection {
  background-color: var(--colorBlue, #201f87);
  color: var(--colorLight, #ffffff);
  text-shadow: -1px -1px 0 var(--colorDark, #222222), 1px -1px 0 var(--colorDark, #222222),
    -1px 1px 0 var(--colorDark, #222222), 1px 1px 0 var(--colorDark, #222222);
}

*::selection {
  background-color: var(--colorBlue, #201f87);
  color: #ffffff;
  text-shadow: -1px -1px 0 var(--colorDark, #222222), 1px -1px 0 var(--colorDark, #222222),
    -1px 1px 0 var(--colorDark, #222222), 1px 1px 0 var(--colorDark, #222222);
}

/* Focus */

*:focus {
  -webkit-box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none;
}

/* Section */

.section {
  padding: 100px 0 0 0;
}

/* Title */

.title {
  display: inline-block;
  margin: 0;
  padding: 10px 25px;
  font-size: 3rem;
  background-color: var(--colorOrange, #fc5741);
  color: var(--colorLight, #ffffff);
  border-radius: var(--borderRadius, 20px);
  line-height: 1;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

/* Btn */

.btn {
  border-radius: var(--borderRadius, 20px);
  cursor: pointer;
  font-family: inherit;
  font-size: 1.7rem;
  padding: 10px 45px;
  border: transparent;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--colorBlue, #201f87)),
    color-stop(50%, var(--colorOrange, #fc5741)),
    to(var(--colorBlue, #201f87))
  );
  background-image: linear-gradient(
    to right,
    var(--colorBlue, #201f87) 0%,
    var(--colorOrange, #fc5741) 50%,
    var(--colorBlue, #201f87) 100%
  );
  background-size: 200% auto;
  color: var(--colorLight, #ffffff);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1),
    0 8px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1),
    0 8px 8px rgba(0, 0, 0, 0.1);
  -webkit-transition: var(--durationAnimation, 0.4s);
  transition: var(--durationAnimation, 0.4s);
}

@media (max-width: 991px) {
  .btn {
    font-size: 1.5rem;
  }
}

.btn:hover {
  background-position: right center;
}

.btn:focus {
  -webkit-box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none;
}

/* Scroll hidden */

.scroll--hidden {
  overflow-y: hidden;
}

/* Wrap */

.wrap {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Header */

.header {
  position: fixed;
  left: 0;
  z-index: 3;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  height: 110px;
  margin: 0;
  background-color: #ffffff;
  -webkit-transition: var(--durationAnimation, 0.4s);
  transition: var(--durationAnimation, 0.4s);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header--small {
  height: 80px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1);
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Logo */

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo__text {
  width: 70%;
  height: auto;
}

.logo__text {
  -webkit-transition: var(--durationAnimation, 0.4s);
  transition: var(--durationAnimation, 0.4s);
}

.header--small .logo__text {
  opacity: 0;
}

.logo,
.header__right {
  width: 245px;
}

@media (min-width: 991px) and (max-width: 1200px) {
  .logo,
  .header__right {
    width: 140px;
  }
}

/* Nav */

.nav {
  /* width: 100%; */
  text-align: center;
}

@media (max-width: 991px) {
  .nav {
    display: none;
  }
}

.nav__list {
  margin: 0;
  padding: 0;
}

.nav__item {
  display: inline-block;
}

.nav__link {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--colorDark, #222222);
  -webkit-transition: color var(--durationAnimation, 0.4s);
  transition: color var(--durationAnimation, 0.4s);
}

.nav__link:hover {
  color: var(--colorOrange, #fc5741);
  text-decoration: none;
}

.nav__link::before,
.nav__link::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--colorOrange, #fc5741);
  -webkit-transition: var(--durationAnimation, 0.4s);
  transition: var(--durationAnimation, 0.4s);
  opacity: 0;
  content: "";
}

.nav__link::before {
  -webkit-transform: translateY(-22px);
  transform: translateY(-22px);
}

.nav__link::after {
  bottom: 0;
  -webkit-transform: translateY(12px);
  transform: translateY(12px);
}

.nav__link--active {
  color: var(--colorOrange, #fc5741);
}

.nav__link--active::before,
.nav__link:hover::before,
.nav__link:focus::before {
  opacity: 1;
  -webkit-transform: translateY(-12px);
  transform: translateY(-12px);
}

.nav__link--active::after,
.nav__link:hover::after,
.nav__link:focus::after {
  opacity: 1;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

/* Header right */

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

/* Lang */

.lang {
  position: relative;
  cursor: pointer;
}

.lang__list {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 4;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  list-style: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, 20px);
  transform: translate(-50%, 20px);
  -webkit-transition: var(--durationAnimation, 0.4s);
  transition: var(--durationAnimation, 0.4s);
}

.lang:hover .lang__list {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.lang__item {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.lang__link {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  -webkit-transition: var(--durationAnimation, 0.4s);
  transition: var(--durationAnimation, 0.4s);
}

.lang__list .lang__link:hover {
  background-color: hsl(0, 0%, 90%);
}

.lang__link--active {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lang__link--active .lang__icon {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* Toggle menu */

.toggle-menu {
  width: 44px;
  height: 44px;
  padding: 10px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

@media (min-width: 991px) {
  .toggle-menu {
    display: none;
  }
}

.toggle-menu--active {
  z-index: 3;
  border-radius: 4px;
}

.toggle-menu__line {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #222222;
  -webkit-transition: var(--durationAnimation, 0.4s, 0.4s);
  transition: var(--durationAnimation, 0.4s, 0.4s);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.toggle-menu__line::before,
.toggle-menu__line::after {
  position: relative;
  display: block;
  height: 2px;
  background-color: #222222;
  -webkit-transition: var(--durationAnimation, 0.4s, 0.4s);
  transition: var(--durationAnimation, 0.4s, 0.4s);
  content: "";
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.toggle-menu__line::before {
  top: -8px;
}

.toggle-menu__line::after {
  top: 6px;
}

.toggle-menu--active .toggle-menu__line {
  background-color: transparent;
}

.toggle-menu--active .toggle-menu__line::before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
  transform: rotate(45deg) translate(5px, 5px);
}

.toggle-menu--active .toggle-menu__line::after {
  -webkit-transform: rotate(-45deg) translate(6px, -6px);
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Menu left */

.menu-left {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.memu-left--visible {
  pointer-events: auto;
}

.menu-left::after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  will-change: opacity;
  -webkit-transition: opacity var(--durationAnimation, 0.4s, 0.4s) cubic-bezier(0, 0, 0.3, 1);
  transition: opacity var(--durationAnimation, 0.4s, 0.4s) cubic-bezier(0, 0, 0.3, 1);
  content: "";
  pointer-events: none;
}

.menu-left--visible.menu-left::after {
  opacity: 1;
}

.menu-left__nav {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  height: 100%;
  background-color: #ffffff;
  -webkit-transform: translateX(100%);
  transform: translateX(-100%);
  will-change: transform;
  pointer-events: none;
}

.menu-left--visible .menu-left__nav {
  -webkit-transform: none;
  transform: none;
  pointer-events: auto;
}

.menu-left--apperance .menu-left__nav {
  -webkit-transition: all 130ms ease-in;
  transition: all 130ms ease-in;
}

.menu-left--visible.menu-left--apperance .menu-left__nav {
  -webkit-transition: all 330ms ease-out;
  transition: all 330ms ease-out;
}

.menu-left__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-left__item {
  margin-bottom: 10px;
}

.menu-left__item:last-child {
  margin-bottom: 0;
}

.menu-left__link {
  display: block;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--colorDark, #222222);
  -webkit-transition: var(--durationAnimation, 0.4s);
  transition: var(--durationAnimation, 0.4s);
}

.menu-left__link:hover {
  color: var(--colorOrange, #fc5741);
}

.menu-left__link--active {
  color: var(--colorOrange, #fc5741);
}

/* Slider */

.slider {
  height: calc(100vh - 120px);
  max-height: 800px;
  padding-top: 110px;
}

.slider__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: calc(100vh - 120px);
  max-height: 800px;
}

.keen-slider__slide {
  position: absolute;
  background: url("../img/slide-1.jpg") no-repeat center/cover;
}

.slider__card {
  position: absolute;
  width: 100%;
  max-width: 500px;
  color: var(--colorDark, #222222);
  bottom: 40px;
}

@media (max-width: 1140px) {
  .slider__card {
    bottom: 150px;
    left: 50%;
    width: 100%;
    max-width: 400px;
    margin-bottom: 30px;
    text-align: center;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
  }
}

@media (max-width: 991px) {
  .slider__card {
    max-width: 300px;
  }
}

@media (max-width: 320px) {
  .slider__card {
    max-width: 270px;
  }
}

.slider__card::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 65%;
  height: 80%;
  -webkit-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  background-color: var(--colorBlue, #201f87);
  border-radius: var(--borderRadius, 20px);
  content: "";
}

.slider__card-wrap {
  position: relative;
  padding: 25px 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1),
    0 8px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1),
    0 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--borderRadius, 20px);
}

@media (max-width: 320px) {
  .slider__card-wrap {
    padding: 10px 25px;
  }
}
.glide__slide {
  background: url("../img/slide-1.jpg") no-repeat center/cover;
}

.slider__content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
  color: var(--colorLight, #ffffff);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.slider__title {
  margin: 0 0 10px 0;
  font-size: 4rem;
}

@media (max-width: 991px) {
  .slider__title {
    font-size: 3rem;
  }
}

.slider__description {
  margin: 0 0 30px 0;
  font-size: 1.5rem;
}

@media (max-width: 991px) {
  .slider__description {
    font-size: 1.2rem;
  }
}

/* Zoom out */

.zoom-out {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  height: 100%;
}

/* Slider dots */

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: #e1e1e1;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--durationAnimation, 0.4s);
}

.dot:first-child {
  margin: 0 5px 0 0;
}

.dot:last-child {
  margin: 0 0 0 5px;
}

.dot:hover {
  background-color: #222222;
}

.dot--active {
  background-color: #222222;
}

/* Slider btns */

.slider__btn {
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  background-color: transparent;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -webkit-transition: var(--durationAnimation, 0.4s);
  transition: var(--durationAnimation, 0.4s);
  cursor: pointer;
}

@media (max-width: 991px) {
  .slider__btn {
    top: auto;
    bottom: 40px;
  }
}

.slider__btn--next {
  right: 0;
}

.slider__btn--prev::after,
.slider__btn--prev::before,
.slider__btn--next::after,
.slider__btn--next::before {
  position: absolute;
  width: 2px;
  height: 50%;
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  content: "";
}

.slider__btn--prev::after,
.slider__btn--prev::before {
  right: 30px;
}

.slider__btn--next::after,
.slider__btn--next::before {
  left: 30px;
}

.slider__btn--prev::before,
.slider__btn--next::before {
  top: 50%;
  -webkit-transform: translateX(-50%) rotate(-135deg);
  transform: translateX(-50%) rotate(-135deg);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.slider__btn--next::before {
  -webkit-transform: translateX(-50%) rotate(135deg);
  transform: translateX(-50%) rotate(135deg);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.slider__btn--prev::after,
.slider__btn--next::after {
  top: 50%;
  -webkit-transform: translateX(-50%) rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.slider__btn--next::after {
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.slider__btn--prev:hover::before,
.slider__btn--next:hover::before {
  -webkit-transform: translateX(-50%) rotate(-125deg);
  transform: translateX(-50%) rotate(-125deg);
}

.slider__btn--next:hover::before {
  -webkit-transform: translateX(-50%) rotate(125deg);
  transform: translateX(-50%) rotate(125deg);
}

.slider__btn--prev:hover::after,
.slider__btn--next:hover::after {
  -webkit-transform: translateX(-50%) rotate(-55deg);
  transform: translateX(-50%) rotate(-55deg);
}

.slider__btn--next:hover::after {
  -webkit-transform: translateX(-50%) rotate(55deg);
  transform: translateX(-50%) rotate(55deg);
}

/* Link bottom */

.link-bottom {
  position: absolute;
  bottom: 50px;
  left: 50%;
  display: block;
  width: 40px;
  height: 70px;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 0 2px #ffffff;
  box-shadow: inset 0 0 0 2px #ffffff;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  cursor: pointer;
}

.link-bottom::after {
  position: absolute;
  left: 50%;
  top: 10px;
  width: 10px;
  height: 20px;
  border: 1.5px solid #ffffff;
  border-radius: 5px;
  transform: translate(-6px);
  content: "";
}

.link-bottom::before {
  position: absolute;
  left: 50%;
  top: 10px;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  margin-left: -2.5px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scrollMouse;
  animation-name: scrollMouse;
  content: "";
}

@-webkit-keyframes scrollMouse {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes scrollMouse {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* About us */

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .about-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.about-us__img {
  max-width: 100%;
  height: auto;
}

.about-us__card {
  position: relative;
  left: -50px;
  width: 100%;
  max-width: 500px;
  padding: 20px 30px;
  background-color: #ffffff;
  border-radius: var(--borderRadius, 20px);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1),
    0 8px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1),
    0 8px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .about-us__card {
    left: 0;
    max-width: 320px;
    margin-top: 30px;
  }
}

@media (max-width: 320px) {
  .about-us__card {
    max-width: 240px;
    padding: 10px 20px;
  }
}

.about-us__title {
  margin: 0 0 5px 0;
  font-size: 3rem;
}

.about-us__description {
  margin: 0 0 20px 0;
  font-size: 1.2rem;
}

/* Teachers */

.teachers {
  background-color: var(--colorBgGrey);
}

.teachers-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px 0;
}

@media (max-width: 1024px) {
  .teachers-wrap {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: 16px;
    padding: 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-snap-points-x: repeat(300px);
    scroll-snap-points-x: repeat(300px);
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
  }

  .teachers-wrap::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  .teachers-wrap::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  }

  .teachers-wrap::-webkit-scrollbar-track {
    background-color: #dcdcdc;
  }
}

.teachers__item {
  position: relative;
  width: calc(310px - 20px);
  margin: 20px;
  padding: 15px 20px;
  -webkit-box-shadow: inset 0 0 0 0px #474e51, 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 0px #474e51, 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1);
  color: inherit;
  text-align: center;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  border-radius: var(--borderRadius, 20px);
  box-sizing: border-box;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .teachers__item {
    width: 300px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
    margin-right: 1em;
    scroll-snap-align: center;
  }
}

.teachers__item::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  content: "";
  border-radius: var(--borderRadius, 20px);
}

.teachers__item {
  -webkit-transition: 300ms background-color cubic-bezier(0.4, 0, 0.6, 1), 300ms color cubic-bezier(0.4, 0, 0.6, 1),
    300ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.6, 1);
  transition: 300ms background-color cubic-bezier(0.4, 0, 0.6, 1), 300ms color cubic-bezier(0.4, 0, 0.6, 1),
    300ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.6, 1);
  transition: 300ms box-shadow cubic-bezier(0.4, 0, 0.6, 1), 300ms background-color cubic-bezier(0.4, 0, 0.6, 1),
    300ms color cubic-bezier(0.4, 0, 0.6, 1);
  transition: 300ms box-shadow cubic-bezier(0.4, 0, 0.6, 1), 300ms background-color cubic-bezier(0.4, 0, 0.6, 1),
    300ms color cubic-bezier(0.4, 0, 0.6, 1), 300ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.6, 1);
}

.teachers__item:hover {
  z-index: 2;
  -webkit-box-shadow: inset 0 0 0 3px var(--colorBlue, #201f87), 0 1px 1px rgba(0, 0, 0, 0.1),
    0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 3px var(--colorBlue, #201f87), 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1);
}

.teachers__item:hover::after {
  opacity: 1;
}

.teachers__img {
  margin: 0 auto 5px auto;
  width: 100%;
  height: auto;
  -webkit-transition: var(--durationAnimation, 0.4s, 0.4s);
  transition: var(--durationAnimation, 0.4s, 0.4s);
  border-radius: 20px;
}

.teachers__item:hover .teachers__img {
  -webkit-transform: translateY(-50px) scale(0.7);
  transform: translateY(-50px) scale(0.7);
}

.teachers__name {
  margin: 0;
  font-size: 1.8rem;
  -webkit-transition: var(--durationAnimation, 0.4s);
  transition: var(--durationAnimation, 0.4s);
}

.teachers__item:hover .teachers__name {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
}

.teachers__info {
  font-size: 1.3rem;
  margin: 0 0 5px 0;
  -webkit-transition: var(--durationAnimation, 0.4s);
  transition: var(--durationAnimation, 0.4s);
}

.teachers__item:hover .teachers__info {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
}

.teachers__separator {
  display: block;
  width: 0;
  padding: 0;
  border: none;
  position: absolute;
  left: 50%;
  border-bottom: solid 2px #222222;
  -webkit-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  transform: translate(-50%, -102px);
}

.teachers__item:hover .teachers__separator {
  width: 80px;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.teachers__description {
  position: absolute;
  margin: 0 20px 0 0;
  -webkit-transition: var(--durationAnimation, 0.4s);
  transition: var(--durationAnimation, 0.4s);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.teachers__item:hover .teachers__description {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* Services */

.services-wrap {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  grid-auto-flow: dense;
  padding: 50px 0;
}

@media (max-width: 680px) {
  .services-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.services__card {
  position: relative;
  padding: 20px;
  text-decoration: none;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1),
    0 8px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1),
    0 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  cursor: pointer;
}

.services__card:nth-child(1) {
  grid-column: 1 / -3;
  grid-row: 1 / -3;
  background: rgba(200, 200, 255, 0.3);
}

.services__card:nth-child(2) {
  grid-column: -3 / -1;
}

.services__card:nth-child(3) {
  grid-column: -3 / -1;
}

@media (max-width: 680px) {
  .services__card {
    margin-bottom: 15px;
  }
}

.services__card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -90px;
  right: -90px;
  background-color: var(--colorBlue, #201f87);
  width: 150px;
  height: 150px;
  border-radius: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.services__card:hover::before {
  -webkit-transform: scale(10);
  transform: scale(10);
}

.services__link {
  width: 100%;
  height: 100%;
  display: inline-block;
  color: var(--colorDark, #222222);
  text-decoration: none;
}

.services__icon-wrap {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background-color: var(--colorOrange, #fc5741);
  border-radius: 0 4px 0 34px;
}

.services__subtitle,
.services__description {
  margin: 0;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.services__subtitle {
  font-size: 3rem;
}

.services__card:hover .services__subtitle,
.services__card:hover .services__description {
  color: #ffffff;
}

.services__description {
  font-size: 1.2rem;
}

/* Service */

.service {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /* Iphone scroll */
  -webkit-overflow-scrolling: scroll;
}

.service--open {
  z-index: 10;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.service__content {
  max-width: 500px;
  margin: 0 15px;
  padding: 25px;
  border-radius: 4px;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
}

.service--open .service__content {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.service__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.service__title {
  margin: 0 50px 0 0;
  border-bottom: 3px solid var(--colorBlue, #201f87);
  font-size: 2rem;
}

@media (max-width: 991px) {
  .service__title {
    font-size: 1.7rem;
  }
}

/* Btn close */

.btn--close {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: var(--colorOrange, #fc5741);
  border: none;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.btn--close:hover {
  background-color: var(--colorBlue, #201f87);
}

/* Cross */

.cross {
  position: absolute;
  width: 3px;
  height: 3px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.cross::before,
.cross::after {
  content: "";
  position: absolute;
  left: -8px;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
}

.cross::before {
  top: 1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cross::after {
  bottom: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.service__description {
  margin: 0;
  font-size: 1.2rem;
}

/* Info */

.info {
  margin: 25px 0;
}

/* Table */

.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
}

.table__cell {
  padding: 20px 20px;
  font-size: 1.2rem;
}

.table__row:nth-child(odd) {
  background-color: #e1e1e1;
}

/* Contacts */

@-webkit-keyframes waveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes waveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.contacts {
  margin: 50px 0 0 0;
  -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: var(--colorBgGrey);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--colorOrange, #fc5741)),
    to(var(--colorBlue, #201f87))
  );
  background: linear-gradient(90deg, var(--colorOrange, #fc5741) 0%, var(--colorBlue, #201f87) 100%);
  background-size: 400% 400%;
  -webkit-animation: waveGradient 10s ease infinite;
  animation: waveGradient 10s ease infinite;
}

.contacts-wrap {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contacts-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 0;
}

@media (max-width: 991px) {
  .contacts-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

/* Form */

.form {
  position: relative;
  width: 50%;
  max-width: 700px;
  padding: 25px 20px;
  border-radius: var(--borderRadius, 20px);
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 910px) {
  .form {
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 320px) {
  .form {
    width: 100%;
    max-width: 320px;
  }
}

@media (max-width: 568px) {
  .form {
    width: 100%;
    padding: 1.5rem;
  }
}

.form__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px;
}

@media (max-width: 991px) {
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.form__label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1.4em;
  cursor: pointer;
}

.form__input {
  width: 100%;
  margin-bottom: 7px;
  padding: 7px 10px;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #222222;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form__input:focus,
.form__input:hover {
  border-bottom: 2px solid var(--colorOrange, #fc5741);
  outline: none;
}

.form__field {
  width: 100%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form__field-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.form__code {
  padding: 7px;
  color: #222222;
  border-bottom: 2px solid currentColor;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form__phone {
  margin-bottom: 0;
}

.form__link {
  color: var(--colorOrange, #fc5741);
}

.form__textarea {
  width: 100%;
  margin-bottom: 7px;
  padding: 7px 10px;
  border: 2px solid;
  border-color: #222222;
  border-radius: var(--borderRadius, 20px);
  height: 100px;
  font-size: 1.5rem;
  font-family: inherit;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
}

.form__textarea:hover {
  border-color: var(--colorOrange, #fc5741);
}

/* Checkbox */

label[for="checkbox"] {
  display: inline-block;
  margin-bottom: 15px;
  cursor: pointer;
}

label[for="checkbox"]:hover .checkbox:not(:checked)::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  margin: 2px 0 0 3px;
  background-color: var(--colorOrange, #fc5741);
  border-radius: 3px;
  content: "";
  z-index: 1;
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox:checked + .custom-checkbox {
  background-color: var(--colorOrange, #fc5741);
  background-image: url("../img/check.svg");
}

.checkbox:focus + .custom-checkbox {
  -webkit-box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none;
}

.custom-checkbox {
  position: absolute;
  width: 15px;
  height: 15px;
  margin: 0 0 0 2px;
  overflow: hidden;
  border-radius: 3px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-box-shadow: 0 0 0 0.1em var(--colorOrange, #fc5741);
  box-shadow: 0 0 0 0.1em var(--colorOrange, #fc5741);
  cursor: pointer;
}

.checkbox-text {
  padding-left: 25px;
}

.message-error {
  position: absolute;
  right: 0;
  bottom: -20px;
  color: red;
  font-size: 0.9em;
}

.error input {
  border: 2px solid red;
}

.success input {
  border: 2px solid green;
}

.contacts__content {
  width: 100%;
  max-width: 500px;
  margin: 0 0 0 30px;
  border-radius: 5px;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition: var(--durationAnimation, 0.4s, 0.4s);
  transition: var(--durationAnimation, 0.4s, 0.4s);
  color: var(--colorLight, #ffffff);
}

@media (max-width: 991px) {
  .contacts__content {
    width: 100%;
    margin: 0;
    text-align: center;
  }
}

.contacts__title {
  margin: 0;
  font-size: 3rem;
}

@media (max-width: 991px) {
  .contacts__title {
    font-size: 2.5rem;
  }
}

.contacts__description {
  margin: 0;
  font-size: 1.2rem;
}

/* Footer */

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 991px) {
  .footer-wrap {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 25px 0;
  }
}

@media (max-width: 768px) {
  .footer__copyright,
  .footer__social {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer__copyright {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}

.footer__paragraph {
  margin: 0;
  text-indent: inherit;
  font-weight: normal;
  color: var(--colorDark, #222222);
}

.footer__paragraph:nth-child(1) {
  font-size: 1.3rem;
  color: var(--colorDark, #222222);
}

@media (max-width: 768px) {
  .footer__paragraph:nth-child(1) {
    margin-bottom: 7px;
    line-height: 1;
  }
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin: 0 90px 0 0;
}

@media (max-width: 768px) {
  .footer__contacts {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0 0 15px 0;
  }
}

.footer__phone {
  width: 100%;
  margin-bottom: 5px;
}

.footer__phone,
.footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  color: var(--colorDark, #222222);
  -webkit-transition: var(--durationAnimation, 0.4s, 0.4s) ease 0s;
  transition: var(--durationAnimation, 0.4s, 0.4s) ease 0s;
}

.footer__phone:hover,
.footer__email:hover {
  -webkit-box-shadow: var(--colorBlue, #201f87) 0 4px 0 0;
  box-shadow: var(--colorBlue, #201f87) 0 4px 0 0;
}

.footer__icon-phone,
.footer__icon-email {
  margin-right: 5px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .footer__social {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 15px;
  }
}

.social__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 3px;
}

.social__link:first-child {
  margin: 0 5px 0 0;
}

.social__link:last-child {
  margin: 0 0 0 5px;
}

@media (max-width: 991px) {
  .social__link {
    margin: 0;
  }
}

.social__icon {
  -webkit-transition: var(--durationAnimation, 0.4s);
  transition: var(--durationAnimation, 0.4s);
}

.social__link:hover .social__icon {
  fill: var(--colorOrange, #fc5741);
}

/* Btn top */

.btn-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  /* Min height interactive elrement*/
  min-height: 44px;
  background-color: #ffffff;
  border: 2px solid var(--colorBlue, #201f87);
  border-radius: 50%;
  -webkit-transition: var(--durationAnimation, 0.4s);
  transition: var(--durationAnimation, 0.4s);
  cursor: pointer;
}

.btn--hide {
  opacity: 0;
}

.btn-top:hover {
  background-color: var(--colorOrange, #fc5741);
}

.icon-arrow-top {
  -webkit-transition: var(--durationAnimation, 0.4s, 0.4s);
  transition: var(--durationAnimation, 0.4s, 0.4s);
}

.btn-top:hover .icon-arrow-top {
  stroke: #ffffff;
}
