:root {
  /* Colors  */
  --colorBlue: #201f87;
  --colorOrange: #fc5741;
  --colorDark: #222222;
  --colorLight: #ffffff;

  --durationAnimation: 0.4s;

  --borderRadius: 20px;
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Cuprum-Regular.ttf);
  /* Download font */
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/Cuprum-Bold.ttf);
  /* Download font */
  font-display: swap;
}

/* Scrollbar */

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 14px var(--colorBlue);
  box-shadow: inset 0 0 14px var(--colorBlue);
}

/* Selection */

*::-moz-selection {
  background-color: var(--colorBlue);
  color: #ffffff;
  text-shadow: -1px -1px 0 var(--colorDark), 1px -1px 0 var(--colorDark), -1px 1px 0 var(--colorDark),
    1px 1px 0 var(--colorDark);
}

*::selection {
  background-color: var(--colorBlue);
  color: #ffffff;
  text-shadow: -1px -1px 0 var(--colorDark), 1px -1px 0 var(--colorDark), -1px 1px 0 var(--colorDark),
    1px 1px 0 var(--colorDark);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f2f4f4;
  font-family: "Cuprum", sans-serif;
  font-size: 16px;
  color: var(--colorDark);
  line-height: 1;
  letter-spacing: 0.5px;
}

/* Focus */

*:focus {
  -webkit-box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none;
}

/* Title */

.title {
  display: inline-block;
  margin: 0;
  padding: 10px 25px;
  font-size: 3rem;
  background-color: var(--colorOrange);
  color: var(--colorLight);
  border-radius: var(--borderRadius);
  line-height: 1;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

/* Btn */

.btn {
  border-radius: var(--borderRadius);
  cursor: pointer;
  font-family: inherit;
  font-size: 1.7rem;
  padding: 10px 45px;
  border: transparent;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--colorBlue)),
    color-stop(50%, var(--colorOrange)),
    to(var(--colorBlue))
  );
  background-image: linear-gradient(to right, var(--colorBlue) 0%, var(--colorOrange) 50%, var(--colorBlue) 100%);
  background-size: 200% auto;
  color: var(--colorLight, #ffffff);
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
  transition: var(--durationAnimation);
}

.btn:hover {
  background-position: right center;
}

/* Link */

.link {
  position: relative;
  display: inline-block;
  padding: 19px 22px;
  transition: all 0.2s ease;
  text-decoration: none;
}

.link:active {
  -webkit-transform: scale(0.96);
  transform: scale(0.96);
}

.link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: var(--colorOrange);
  width: 56px;
  height: 56px;
  -webkit-transition: var(--durationAnimation);
  transition: var(--durationAnimation);
}

.link:hover::before {
  width: 100%;
  background-color: #ffab9d;
}

.link__text {
  position: relative;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  vertical-align: middle;
  color: var(--colorBlue);
}

.link__icon {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
  -webkit-transition: all var(--durationAnimation, 0.4s) ease;
  transition: all var(--durationAnimation, 0.4s) ease;
}

.link:hover .link__icon {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* Scroll hidden */

/* Replace property in js */

.scroll--hidden {
  overflow-y: hidden;
}

/* Wrap */

.wrap {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */

.header {
  position: fixed;
  left: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  justify-content: space-around;
  width: 100%;
  height: 110px;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  transition: var(--durationAnimation);
}

.header--small {
  height: 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  padding: 0 15px;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
}

.logo__icon {
  height: auto;
  -webkit-transition: var(--durationAnimation);
  transition: var(--durationAnimation);
}

.logo__text {
  opacity: 1;
}

.header--small .logo__text {
  opacity: 0;
}

/* Nav */

@media (max-width: 991px) {
  .nav {
    display: none;
  }
}

.nav__list {
  margin: 0;
  padding: 0;
}

.nav__item {
  display: inline-block;
  margin: 0 10px;
}

.nav__link {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color var(--durationAnimation);
  transition: color var(--durationAnimation);
  font-size: 1.2rem;
  color: var(--colorDark);
}

.nav__link:hover {
  color: var(--colorOrange);
  text-decoration: none;
}

.nav__link::before,
.nav__link::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--colorOrange);
  opacity: 0;
  -webkit-transition: var(--durationAnimation);
  transition: var(--durationAnimation);
  content: "";
}

.nav__link::before {
  -webkit-transform: translateY(-22px);
  transform: translateY(-22px);
}

.nav__link::after {
  bottom: 0;
  -webkit-transform: translateY(12px);
  transform: translateY(12px);
}

.nav__link--active {
  color: var(--colorOrange);
}

.nav__link--active::before,
.nav__link:hover::before,
.nav__link:focus::before {
  opacity: 1;
  -webkit-transform: translateY(-12px);
  transform: translateY(-12px);
}

.nav__link--active::after,
.nav__link:hover::after,
.nav__link:focus::after {
  opacity: 1;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

/* Header right */

.header__right {
  display: flex;
  align-items: center;
}

/* Lang */

.lang {
  position: relative;
  cursor: pointer;
}

@media (max-width: 991px) {
  .lang {
    /* position: absolute; */
    /* right: 60px; */
  }
}

.lang__img {
  width: 30px;
}

.lang__list {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 4;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, 20px);
  transform: translate(-50%, 20px);
  -webkit-transition: var(--durationAnimation);
  transition: var(--durationAnimation);
}

.lang:hover .lang__list {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.lang__item {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.lang__link {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  -webkit-transition: var(--durationAnimation);
  transition: var(--durationAnimation);
  pointer-events: none;
}

.lang > .lang__img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.lang__img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.lang__item:hover .lang__img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.lang__link--active {
  pointer-events: none;
}

.lang__link--active .lang__img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

/* Toggle menu */

.toggle-menu {
  width: 44px;
  height: 44px;
  padding: 10px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

@media (min-width: 991px) {
  .toggle-menu {
    display: none;
  }
}

.toggle-menu--active {
  z-index: 3;
  border-radius: 5px;
}

.toggle-menu__line {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #222222;
  -webkit-transition: var(--durationAnimation, 0.4s);
  transition: var(--durationAnimation, 0.4s);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.toggle-menu__line::before,
.toggle-menu__line::after {
  position: relative;
  display: block;
  height: 2px;
  background-color: #222222;
  -webkit-transition: var(--durationAnimation, 0.4s);
  transition: var(--durationAnimation, 0.4s);
  content: "";
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.toggle-menu__line::before {
  top: -8px;
}

.toggle-menu__line::after {
  top: 6px;
}

.toggle-menu--active .toggle-menu__line {
  background-color: transparent;
}

.toggle-menu--active .toggle-menu__line::before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
  transform: rotate(45deg) translate(5px, 5px);
}

.toggle-menu--active .toggle-menu__line::after {
  -webkit-transform: rotate(-45deg) translate(6px, -6px);
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Menu left */

.menu-left {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.menu-left::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  will-change: opacity;
  pointer-events: none;
  -webkit-transition: opacity var(--durationAnimation, 0.4s) cubic-bezier(0, 0, 0.3, 1);
  transition: opacity var(--durationAnimation, 0.4s) cubic-bezier(0, 0, 0.3, 1);
}

.menu--visible.menu-left::after {
  opacity: 1;
  pointer-events: auto;
}

.menu--visible {
  pointer-events: auto;
}

.menu-left__nav {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 300px;
  max-width: 400px;
  height: 100%;
  background-color: #f2f4f4;
  -webkit-transform: translateX(103%);
  transform: translateX(-100%);
  will-change: transform;
  pointer-events: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 991px) {
  .menu-left__nav {
    width: 100%;
  }
}

.menu--visible .menu-left__nav {
  -webkit-transform: none;
  transform: none;
}

.menu--animatable .menu-left__nav {
  -webkit-transition: all 130ms ease-in;
  transition: all 130ms ease-in;
}

.menu--visible.menu--animatable .menu-left__nav {
  -webkit-transition: all 330ms ease-out;
  transition: all 330ms ease-out;
}

.menu-left__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-left__item {
  margin-bottom: 10px;
}

.menu-left__link {
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--colorDark);
  transition: var(--durationAnimation);
}

.menu-left__link:hover {
  color: var(--colorOrange);
}

.menu-left__link--active {
  color: var(--colorOrange);
}

/* Slider */

.slider {
  height: calc(100vh - 120px);
  max-height: 800px;
  padding-top: 110px;
}

.slider__item {
  display: flex;
  align-items: center;
  height: calc(100vh - 120px);
  max-height: 800px;
}

.slider__content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  color: var(--colorLight);
}

.slider__card {
  width: 50%;
}

@media (max-width: 991px) {
  .slider__card {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
}

.slider__title {
  margin: 0 0 10px 0;
  font-size: 4rem;
}

.slider__description {
  margin: 0 0 30px 0;
  font-size: 1.5rem;
}

/* Slider controls */

.slider__arrow--prev,
.slider__arrow--next {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  /* Outline at click - none */
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 320px) {
  .slider__arrow--prev,
  .slider__arrow--next {
    width: 44px;
    height: 44px;
  }
}

.slider__arrow--prev {
  left: -50px;
}

@media (max-width: 991px) {
  .slider__arrow--prev {
    left: 0;
  }
}

.slider__arrow--next {
  right: 0;
}

@media (max-width: 991px) {
  .slider__arrow--next {
    right: 0;
  }
}

.slider__arrow--prev::after,
.slider__arrow--prev::before,
.slider__arrow--next::after,
.slider__arrow--next::before {
  position: absolute;
  width: 2px;
  height: 50%;
  background-color: #222222;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  content: "";
}

.slider__arrow--prev::before,
.slider__arrow--next::before {
  top: 50%;
  -webkit-transform: translateX(-50%) rotate(-135deg);
  -ms-transform: translateX(-50%) rotate(-135deg);
  transform: translateX(-50%) rotate(-135deg);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.slider__arrow--next::before {
  -webkit-transform: translateX(-50%) rotate(135deg);
  -ms-transform: translateX(-50%) rotate(135deg);
  transform: translateX(-50%) rotate(135deg);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.slider__arrow--prev::after,
.slider__arrow--next::after {
  top: 50%;
  -webkit-transform: translateX(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.slider__arrow--next::after {
  -webkit-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.slider__arrow--prev:hover::before,
.slider__arrow--next:hover::before {
  -webkit-transform: translateX(-50%) rotate(-125deg);
  -ms-transform: translateX(-50%) rotate(-125deg);
  transform: translateX(-50%) rotate(-125deg);
}

.slider__arrow--next:hover::before {
  -webkit-transform: translateX(-50%) rotate(125deg);
  -ms-transform: translateX(-50%) rotate(125deg);
  transform: translateX(-50%) rotate(125deg);
}

.slider__arrow--prev:hover::after,
.slider__arrow--next:hover::after {
  -webkit-transform: translateX(-50%) rotate(-55deg);
  -ms-transform: translateX(-50%) rotate(-55deg);
  transform: translateX(-50%) rotate(-55deg);
}

.slider__arrow--next:hover::after {
  -webkit-transform: translateX(-50%) rotate(55deg);
  -ms-transform: translateX(-50%) rotate(55deg);
  transform: translateX(-50%) rotate(55deg);
}

/* Slider bullets */

.glide__bullets {
  bottom: 15px;
}

.glide__bullet {
  background-color: #a9a9a9;
}

.glide__bullet:hover,
.glide__bullet:focus {
  border: 2px solid #222222;
  background-color: #222222;
}

.glide__bullet--active {
  background-color: #222222;
}

/* Link bottom */

.link-bottom {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  display: block;
  width: 40px;
  height: 70px;
  border: none;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #ffffff;
  cursor: pointer;
}

@media (max-width: 991px) {
  .link-bottom {
    position: relative;
    bottom: 0;
    margin-top: 15px;
  }
}

.link-bottom::before {
  position: absolute;
  left: 50%;
  top: 8px;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  margin-left: -4px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
  content: "";
}

@-webkit-keyframes scroll {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(46px);
    -webkit-transform: translateY(46px);
  }
}

@keyframes scroll {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(46px);
    -webkit-transform: translateY(46px);
  }
}

/* About us */

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 129px;
}

@media (max-width: 768px) {
  .about-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.about-us__card {
  position: relative;
  left: -50px;
  width: 50%;
  padding: 20px 30px;
  background-color: #ffffff;
  border-radius: var(--borderRadius);
}

@media (max-width: 768px) {
  .about-us__card {
    left: 0;
    width: 70%;
    margin-top: 30px;
  }
}

.about-us__title {
  margin: 0 0 5px 0;
  font-size: 3rem;
}

.about-us__description {
  margin: 0 0 20px 0;
  font-size: 1.2rem;
}

/* Teachers */

.teachers-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px 0;
}

@media (max-width: 1024px) {
  .teachers-wrap {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: 16px;
    padding: 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-snap-points-x: repeat(300px);
    scroll-snap-points-x: repeat(300px);
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
  }

  .teachers-wrap::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  .teachers-wrap::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 3px;
    -webkit-box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  }

  .teachers-wrap::-webkit-scrollbar-track {
    background-color: #dcdcdc;
  }
}

.teachers__item {
  position: relative;
  width: calc(300px - 20px);
  margin: 20px;
  padding: 15px 20px;
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.4);
  color: inherit;
  text-align: center;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  border-radius: var(--borderRadius);
  box-sizing: border-box;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .teachers__item {
    width: 300px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
    margin-right: 1em;
    scroll-snap-align: center;
  }
}

.teachers__item::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  content: "";
  border-radius: var(--borderRadius);
}

.teachers__item:hover {
  z-index: 2;
}

.teachers__item:hover::after {
  opacity: 1;
}

.teachers__img {
  margin: 0 auto;
  width: 100%;
  height: auto;
  transition: var(--durationAnimation, 0.4s);
  border-radius: 20px;
}

.teachers__item:hover .teachers__img {
  -webkit-transform: translateY(-50px) scale(0.7);
  transform: translateY(-50px) scale(0.7);
}
.teachers__name {
  margin: 0;
  font-size: 1.8rem;
  -webkit-transition: var(--durationAnimation);
  transition: var(--durationAnimation);
}

.teachers__item:hover .teachers__name {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
}

.teachers__info {
  font-size: 1.3rem;
  margin: 0 0 5px 0;
  -webkit-transition: var(--durationAnimation);
  transition: var(--durationAnimation);
}

.teachers__item:hover .teachers__info {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
}

.teachers__separator {
  display: block;
  width: 0;
  border: none;
  position: absolute;
  left: 50%;
  border-bottom: solid 2px var(--colorDark, #222222);
  transition: 0.2s ease-in-out;
  -webkit-transform: translateY(-100px);
  transform: translate(-50%, -110px);
}

.teachers__item:hover .teachers__separator {
  width: 80px;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.teachers__description {
  position: absolute;
  margin: 0 20px 0 0;
  -webkit-transition: var(--durationAnimation);
  transition: var(--durationAnimation);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.teachers__item:hover .teachers__description {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* Services */

.services-wrap {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 30px;
  grid-auto-flow: dense;
  padding: 50px 0;
}

@media (max-width: 680px) {
  .services-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.services__card {
  position: relative;
  padding: 20px;
  text-decoration: none;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  cursor: pointer;
}

.services__card:nth-child(1) {
  grid-column: 1 / -3;
  grid-row: 1 / -3;
  background: rgba(200, 200, 255, 0.3);
}

.services__card:nth-child(2) {
  grid-column: 3 / -1;
}

.services__card:nth-child(3) {
  grid-column: 3 / -1;
}

@media (max-width: 680px) {
  .services__card {
    margin-bottom: 15px;
  }
}

.services__card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -90px;
  right: -90px;
  background-color: var(--colorBlue);
  height: 150px;
  width: 150px;
  border-radius: 100%;
  transform: scale(1);
  transition: 0.4s ease-out;
}

.services__card:hover::before {
  transform: scale(10);
}

.services__link {
  width: 100%;
  height: 100%;
  display: inline-block;
  color: var(--colorDark);
  text-decoration: none;
}

.services__btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #ffffff;
  background-color: var(--colorOrange);
  border-radius: 0 4px 0 38px;
  border: none;
}

.services__subtitle,
.services__description {
  margin: 0;
  transition: 0.2s ease-out;
}

.services__subtitle {
  font-size: 3rem;
}

.services__card:hover .services__subtitle,
.services__card:hover .services__description {
  color: #ffffff;
}

.services__description {
  font-size: 1.2rem;
}

/* Service */

.service {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /* Iphone scroll */
  -webkit-overflow-scrolling: scroll;
}

.service__content {
  max-width: 500px;
  margin: 0 15px;
  border-radius: 4px;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #ffffff;
}

.service--open {
  z-index: 3;
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}

.service--open .service__content {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.service__title {
  margin: 0;
  padding: 10px 15px;
  border-radius: 5px 5px 0 0;
  border-bottom: 3px solid var(--colorBlue);
  font-size: 2rem;
}

@media (max-width: 991px) {
  .service__title {
    padding: 13px 15px;
    font-size: 1.7rem;
  }
}

/* Btn close */

.btn--close {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 44px;
  height: 44px;
  background-color: var(--colorOrange);
  border: none;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.btn--close:hover {
  background-color: var(--colorBlue);
}

/* Cross */

.cross {
  position: absolute;
  width: 3px;
  height: 3px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.cross::before,
.cross::after {
  content: "";
  position: absolute;
  left: -8px;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
}

.cross::before {
  top: 1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cross::after {
  bottom: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.service__body {
  position: relative;
  padding: 15px 15px;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.service__description {
  margin: 0;
  font-size: 1.2rem;
}

/* Contacts */

.contacts-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px 0;
}

@media (max-width: 991px) {
  .contacts-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

/* Form */

.form {
  position: relative;
  width: 50%;
  max-width: 700px;
  padding: 25px 20px;
  border-radius: var(--borderRadius);
  background-color: #ffffff;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) {
  .form {
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 568px) {
  .form {
    width: 100%;
    padding: 1.5rem;
  }
}

.form__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

@media (max-width: 991px) {
  .form__row {
    flex-direction: column;
  }
}

.form__label {
  font-size: 1.4em;
}

.form__input {
  width: 100%;
  margin-bottom: 7px;
  padding: 7px 10px;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid var(--grayColor, #595959);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
}

.form__input:focus,
.form__input:hover {
  border-bottom: 2px solid var(--colorOrange);
  outline: none;
}

.form__field-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.form__code {
  padding: 7px;
  color: var(--grayColor, #595959);
  border-bottom: 2px solid currentColor;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form__phone {
  margin-bottom: 0;
}

.form__link {
  color: var(--colorOrange);
}

.form__textarea {
  width: 100%;
  box-sizing: border-box;
}

/* Checkbox */

label[for="checkbox"] {
  display: inline-block;
  margin-bottom: 15px;
}

label[for="checkbox"]:hover .checkbox:not(:checked)::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  margin: 2px 0 0 3px;
  background-color: var(--colorOrange);
  border-radius: 3px;
  content: "";
  z-index: 1;
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox:checked + .custom-checkbox {
  background-color: var(--colorOrange);
  background-image: url("../img/check.svg");
}

.checkbox:focus + .custom-checkbox {
  outline: none;
  -webkit-box-shadow: 0 0 0 1.5px var(--colorDark);
  box-shadow: 0 0 0 1.5px var(--colorDark);
}

.custom-checkbox {
  position: absolute;
  width: 15px;
  height: 15px;
  margin: 0 0 0 2px;
  overflow: hidden;
  border-radius: 3px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-box-shadow: 0 0 0 0.1rem var(--colorOrange);
  box-shadow: 0 0 0 0.1rem var(--colorOrange);
  cursor: pointer;
}

.checkbox-text {
  padding-left: 25px;
}

.message-error {
  position: absolute;
  right: 0;
  bottom: -20px;
  color: red;
  font-size: 0.9em;
}

.error input {
  border: 2px solid red;
}

.success input {
  border: 2px solid green;
}

.contacts__content {
  width: 50%;
}

.contacts__content {
  max-width: 500px;
  margin: 0 0 0 30px;
  border-radius: 5px;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition: var(--durationAnimation, 0.4s);
  transition: var(--durationAnimation, 0.4s);
}

@media (max-width: 991px) {
  .contacts__content {
    width: 100%;
    margin: 0;
    text-align: center;
  }
}

.contacts__title {
  margin: 0;
  font-size: 3rem;
}

@media (max-width: 991px) {
  .contacts__title {
    font-size: 2rem;
  }
}

.contacts__description {
  margin: 0;
  font-size: 1.2rem;
}

/* Info */

.info {
  margin-bottom: 50px;
}

/* Table */

.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
}

.table__cell {
  padding: 20px 20px;
  font-size: 1.2rem;
}

.table__row:nth-child(odd) {
  background-color: #dcdcdc;
}

/* Footer */

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 20px 0;
  border-top: 1px solid #9ea4a7;
}

@media (max-width: 991px) {
  .footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 90px;
  }
}

@media (max-width: 768px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 25px 0;
  }
}

@media (max-width: 768px) {
  .footer__copyright,
  .footer__social {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer__copyright {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}

.footer__paragraph {
  margin: 0;
  text-indent: inherit;
  font-weight: normal;
  color: var(--colorDark);
}

.footer__paragraph:nth-child(1) {
  font-size: 1.3rem;
  color: var(--colorDark);
}

@media (max-width: 768px) {
  .footer__paragraph:nth-child(1) {
    margin-bottom: 7px;
    line-height: 1;
  }
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin: 0 90px 0 0;
}

@media (max-width: 768px) {
  .footer__contacts {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0 0 15px 0;
  }
}

.footer__phone {
  width: 100%;
  margin-bottom: 5px;
}

.footer__phone,
.footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  text-decoration: none;
  color: #222222;
  -webkit-transition: all var(--durationAnimation, 0.4s) ease 0s;
  transition: all var(--durationAnimation, 0.4s) ease 0s;
}

.footer__phone:hover,
.footer__email:hover {
  -webkit-box-shadow: var(--colorBlue) 0 4px 0 0;
  box-shadow: var(--colorBlue) 0 4px 0 0;
}

.footer__icon-phone,
.footer__icon-email {
  margin-right: 5px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .footer__social {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 15px;
  }
}

.social__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 3px;
}

.social__link:first-child {
  margin: 0 5px 0 0;
}

.social__link:last-child {
  margin: 0 0 0 5px;
}

@media (max-width: 991px) {
  .social__link {
    margin: 0;
  }
}

.social__icon {
  -webkit-transition: var(--durationAnimation);
  transition: var(--durationAnimation);
}

.social__link:hover .social__icon {
  fill: var(--colorOrange);
}

/* Btn top */

.btn-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  opacity: 1;
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  /* Min height interactive elrement*/
  min-height: 44px;
  background-color: #ffffff;
  border: 2px solid var(--colorBlue);
  border-radius: 50%;
  -webkit-transition: var(--durationAnimation);
  transition: var(--durationAnimation);
  cursor: pointer;
}

.btn--hide {
  opacity: 0;
}

.btn-top:hover {
  background-color: var(--colorOrange);
}

.icon-arrow-top {
  -webkit-transition: var(--durationAnimation, 0.4s);
  transition: var(--durationAnimation, 0.4s);
}

.btn-top:hover .icon-arrow-top {
  stroke: #ffffff;
}

.glide__slide {
  background: url("../img/slide-1.jpg") no-repeat center/cover;
}
